{% extends "base.html" %}

{% block main %}
<header>
    <div class="main">
        <img class="profileImg" rel="stylesheet" src="{{ url_for('static', filename='Profile.png') }}" />
        <h1 class="username">Jamilla Morgan</h1>
        <p class="bioHead">@JamillaMo</p>
        <p class="bioHead">Kingston, Jamaica</p>
        <p class="bioHead">{{ date }}</p>
    </div>
    <section class="paragraph">
        <p class="bio">I like words. Sometimes.</p>
        <div class="infoColumns">
            <div id="box1" class="flex-item"><h4>23</h4></div>
            <div id="box2" class="flex-item"><h4>35</h4></div>
            <div id="box3" class="flex-item"><h4>200</h4></div>
            <div id="box4" class="flex-item">Posts</div>
            <div id="box5" class="flex-item">Following</div>
            <div id="box6" class="flex-item">Followers</div>
        </div>
        <button class="follow">Follow</button>
    </section>
</header>
{% endblock %}